html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: rgb(40,44,47);
    font-family: Montserrat;
}

a {
    color: white;
}

.pink {
    color: #ff4681; 
}

a:hover {
    text-decoration: none;
    color: #ff4681;
}


/*----------------- Nav Menu ---------------*/
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff4681; 
}

.bg-dark {
    background: rgb(29,29,29)!important;
}

.dropdown-menu {
    /* margin-top: 13%; */
    color: #ffffff;
    background-color: rgb(29,29,29);
    border: none;
}

.dropdown-item {
    padding-top: 2%;
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    background-color: #ff4681;;
    color: #fff;
}


/* ------------ Name Animation ------------*/
svg {
    font: 11.5em 'Montserrat';
    width: 250px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ff4681; /* #ffffff; */
	animation-delay: -1;
}
.text-copy:nth-child(2){
	stroke: #ff4681;  /* #e3e3e3; */
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: #ff4681; /* #b6b6b6; */
	animation-delay: -3s;
}
.text-copy:nth-child(4){
	stroke: #ff4681; /* #8b8b8b; */
	animation-delay: -4s;
}
.text-copy:nth-child(5){
	stroke: #ff4681; /* #5a5959; */
	animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
/* ----------- Name Animation End--------------*/


/*---------------- Header Section ---------------*/
header {
    cursor: grab;
    background: rgb(29,29,29);
    background: linear-gradient(-350deg, rgba(29,29,29,1) 30%, rgba(33,37,43,1) 95%);
    height: 100vh;
}

.header-text {
    padding: 2%;
    line-height: 1.3em;
    font-size: 3em;
    font-weight: 800;
}

.header-icons i {
    margin-top: 10%;
    padding: .5%;
    font-size: 30px;
    color: #fff;
}

.header-wrapper {
    cursor: default;
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    color: #fff;
}

header:active {
    cursor: grabbing;
}


/* ------------------Section/About -----------------*/
section {
    height: 200%;
    background: rgb(29,29,29);
    background: linear-gradient(350deg, rgba(33,37,43,1) 10%, rgba(29,29,29,1) 75% );
}

#particles-js2 {
    height: 226vh;
    width: 100vw;
    color: #fff;
    z-index: 0;
}

img {
    width: 75%;
    margin-bottom: 2%;
}

#about-section {
    z-index: 0;
    cursor: default;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.test {
    position: absolute;
    padding-top: 2%;
    background-color: linear-gradient(0deg, rgba(33,37,43,1) 30%, rgba(29,29,29,1) 85% );
}

div.about-me {
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: rgba(22,22,22,.8);
}

.about-me:hover i {
    color: #ff4681;
}

.about-me {
    line-height: 1.2em;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* --------------Portfolio Things -------------------*/
.githubIcons {
    color: #fff;
    font-size: 1.3em;
}

.githubIcons:hover {
    color: #ff4681;
    cursor: pointer;
}

/* #bamazon {
    padding-left: 10px;
    padding-right: 2px;
    width: 640px;
    height: 525px;
} */

iframe {
    border-radius: 6%;
}

.glide {
    margin-top: 10%;
}

.glideCursor {
    cursor: grab;
} 

.glideCursor:active {
    cursor: grabbing;
} 

.fa-chevron-circle-left, .fa-chevron-circle-right, .fa-circle:hover {
    /* color: #ff4681; */
    cursor: pointer;
}

.fa-chevron-circle-left:active, .fa-chevron-circle-right:active, .fa-circle:active {
    color: #ff4681;
}


/*------------------Queries -----------------*/
@media only screen and (max-width: 1157px) {
    iframe {
        border-radius: 7%;
    }
    #particles-js2 {
        height: 233vh;
    }
}

@media only screen and (max-width: 1026px) {
    iframe {
        border-radius: 9%;
    }
    #particles-js2 {
        height: 240vh;
    }
}

@media only screen and (max-width: 935px) {
    .col-7 {
        max-width: 90%;
        margin-left: 5%;
    }
    .iframe-row {
        display: inline;
    }
    iframe {
        border-radius: 5%;
    }
    iframe .col-7 {
        max-width: 100%;
    }
    .col-5 {
        padding-top: 5%;
        margin: auto;
        max-width: 65%;
    }
    #particles-js2 {
        height: 257vh;
    }
}

@media only screen and (max-width: 840px) {
    #particles-js2 {
        height: 325vh;
    }
    .newRow {
        display: inline;
    }
    .col-8 {
        max-width: 100%;
    }
    .col-4 {
        max-width: 60%;
        margin: auto;
        padding: 2%;
    }
    .mt-5 {
        margin-top: 0!important;
    }
    .fa-github-alt {
        padding-top: 5%;
    }
    iframe {
        border-radius: 7%;
    }
}

@media only screen and (max-width: 660px) {
    #particles-js2 {
        height: 317vh;
    }
    .header-wrapper {
        height: 90%;
    }
    .header-text {
        font-size: 2.7em;
    }
    .header-icons i {
        margin-top: 0;        
    }
    iframe {
        border-radius: 9%;
    }
    .fa-github-alt {
        padding-top: 10%;
    }
}
@media only screen and (max-width: 545px) {
    iframe {
        border-radius: 55px;
    }
    #particles-js2 {
        height: 320vh;
    }
    
}